@page
@model MODAFurniture.FrontEnd.Pages.ContactsModel
@{
    ViewData["Title"] = "Contact Us";
}

<h1>Who we are!!</h1>
<br />
<table>
    <tr>
        <td style="width: auto; padding: 10px; text-align:center; vertical-align:top">
            <img src="~/images/MODAFactory.jpeg" alt="Contact Image" style="width: 400px" />
        </td>
        <td style="text-align: center; vertical-align: top;padding: 10px">
            <h2>M.O.D.A.</h2>
            <h3>Modern Outstanding Design Assembled</h3>
            <br />
            <p style="text-align: Justify;font-size:larger;margin: 10px">
                We are a leading Italian furniture company dedicated to providing high-quality, stylish, and affordable furniture solutions for modern living. With a focus on innovative design and exceptional craftsmanship, we offer a wide range of products, from comfortable sofas and stylish dining tables to functional storage solutions and beautiful home accessories.
            </p>
            <p style="text-align: Justify;font-size:larger;margin: 10px">
                Our commitment to customer satisfaction is unwavering. We strive to provide an exceptional shopping experience, from easy online browsing and secure ordering to prompt delivery and excellent customer support. Our team of design experts is always available to assist you in finding the perfect pieces to suit your style and needs.
            </p>
        </td>
    </tr>
</table>
